
body {
  font-family: 'Bitter', serif;
}

a {
  font-size: 15px;
  text-decoration: none;
  background-color: transparent;
}

p {
  font-size: 18px;
}

.my-logo{
  color: grey;
}

.card {
    background-color: #f7f7f7;
    margin-bottom: 10px;
}

h6 {
  border: none;
  text-decoration: none;
}

/* main  */

.certificate {
  padding: 10px;
  margin-bottom: 10px;
}

.custom {
    background-color: #f7f7f7;
    padding-left: 20px;
}


/* footer */
.bd-footer {
  font-size: 125%;
  background-color: #f7f7f7;
}
.bd-footer a {
    font-weight: 500;
    color: #495057;
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bd-footer-links li {
    display: inline-block;
    margin-right: 20px;
}

footer {
  border-top: 5px solid white;
}

.kaggle {
  height: 30px;
  padding-bottom: 2px;
}
